/*Entire site applicable content*/

.topsection {
    max-width: 1270px;
    min-width: 1270px;
    height: 80px;
    display: flex;
}

.bmmlogo {
    width: 190px;
    margin-left: 8px;
}

.socialmedialinks {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    margin-left: 1045px;
}
.twitter, .facebook {
    width: 30px;
    height: 30px;
    margin: 5px;
}
.twitter {
    background-image: url("icon-twitter.png");
    background-size: contain;
}
.facebook {
    background-image: url("facebook-logo-grey.png");
    background-size: contain;
}
.navboxes {
    background-color: maroon;
    display: flex;
    max-width: 1270px;
    min-width: 1270px;
    text-align: center;
    font-family: "Tsukushi B Round Gothic";
    margin-bottom: 20px;
    margin-left: 10px;
    border-radius: 5px;

}

.BrowseInventoryBox, .RentalsBox, .LessonsBox, .LocationsBox, .CurrentPromoBox {
    height: 38px;
    width: 230px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-size: 300px;
    background-position: center;
    font-size: 20px;
    color: maroon;
    text-shadow: 0px 0px 10px white;
    vertical-align: center;
    font-weight: bold;
    background-color: white;
    box-shadow: 0px 0px 15px white;
    border-radius: 5px;
}


/*Home Page content*/

.HomeContentPhotos {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    max-width: 1270px;
    min-width: 1270px;
    justify-content: center;

}

.image1 img, .image2 img, .image3 img {
    height: 250px;
    margin-right: 20px;
    border-radius: 5px;
}

.HomeContentText {
    text-align: center;
    margin-top: 20px;
    max-width: 1270px;
    min-width: 1270px;
}


.BMM {
    font-size: 50px;
    color: maroon;
    font-family: "Tsukushi B Round Gothic";
    font-weight: bold;
}

.slogan {
    font-size: 25px;
    color: maroon;
    font-family: "Tsukushi B Round Gothic";
}

/*Browse Inventory page content*/

.CategoryLinks {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1270px;
    min-width: 1270px;


}

.WoodwindsLink, .BrassLink, .StringsLink, .GuitarsLink, .PercussionLink, .KeyboardsLink {
    width: 200px;
    height: 300px;
    background-size: cover;
    align-items: center;
    font-family: "Tsukushi B Round Gothic";
    color: white;
    text-shadow: 0px 0px 25px black;
    font-weight: bold;
    text-decoration: none;
    padding-left: 5px;
    border-radius: 5px;
}

.WoodwindsLink {
    background-image: url("Woodwindlinkphoto.jpg");
}

.BrassLink {
    background-image: url("BrassLinkPhoto.jpg");
}
.StringsLink {
    background-image: url("StringsLinkPhoto.jpg");
}
.GuitarsLink {
    background-image: url("GuitarsLinkPhoto.jpg");
}
.PercussionLink {
    background-image: url("PercussionLinkPhoto.jpg");
}
.KeyboardsLink {
    background-image: url("KeyboardsLinkPhoto.jpg");
}
.BooksLink {
    background-image: url("booksbackground.jpg");
    width: 1270px;
    height: 100px;
    background-size: cover;
    background-position: 50%;
    color: white;
    text-shadow: 0px 0px 50px black;
    font-weight: bold;
    text-decoration: none;
    font-family: "Tsukushi B Round Gothic";
    padding-top: 5px;
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
}

/*Inventory-Woodwinds Page Content*/

.WWGroups {
    display: flex;
    height: auto;
    width: 1270px;
    justify-content: space-between;
    margin: 10px;
}

.Flutes, .Clarinets, .Saxophones, .DoubleReeds {
    height: 300px;
    width: 290px;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    font-family: "Tsukushi B Round Gothic";
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 25px black;
    padding-top: 10px;
}

.Flutes {
    background-image: url("flutecloseup.jpg");
    background-size: cover;
}
.FlutePageContent {
    display: flex;
    flex-wrap: wrap;
    width: 1260px;
    height: auto;
    justify-content: space-between;
    margin-left: 10px;
}
.FluteInventory, .FluteAccessories {
    width: 600px;
    height: auto;
    box-shadow: 0px 0px 20px maroon;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.FluteListing, .FluteAccListing {
    width: 175px;
    height: 175px;
    text-align: center;
    font-family: "Tsukushi B Round Gothic";
    color: maroon;
    text-shadow: 0px 0px 25px white;
    margin: 10px;
    font-weight: bold;
    text-decoration: none;
}

.FluteListing {
    background-image: url("flutecloseup.jpg");
    background-size: cover;
}

.FluteAccListing {
    background-image: url("flutecloseup.jpg");
    background-size: cover;
}
.Clarinets {
    background-image: url("Woodwindlinkphoto.jpg");
    background-size: cover;
}
.ClarinetPageContent {
    display: flex;
    flex-wrap: wrap;
    width: 1260px;
    height: auto;
    justify-content: space-between;
    margin-left: 10px;
}
.ClarinetInventory, .ClarinetAccessories {
    width: 600px;
    height: auto;
    box-shadow: 0px 0px 20px maroon;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ClarinetListing, .ClarinetAccListing {
    width: 175px;
    height: 175px;
    text-align: center;
    font-family: "Tsukushi B Round Gothic";
    color: maroon;
    text-shadow: 0px 0px 25px white;
    margin: 10px;
    font-weight: bold;
    text-decoration: none;
}
.ClarinetListing {
    background-image: url("Woodwindlinkphoto.jpg");
    background-size: cover;
}
.ClarinetAccListing {
    background-image: url("Woodwindlinkphoto.jpg");
    background-size: cover;
}
.Saxophones {
    background-image: url("saxophonecloseup.jpg");
    background-size: cover;
}
.SaxPageContent {
    display: flex;
    flex-wrap: wrap;
    width: 1260px;
    height: auto;
    justify-content: space-between;
    margin-left: 10px;
}
.SaxInventory, .SaxAccessories {
    width: 600px;
    height: auto;
    box-shadow: 0px 0px 20px maroon;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.SaxListing, .SaxAccListing {
    width: 175px;
    height: 175px;
    text-align: center;
    font-family: "Tsukushi B Round Gothic";
    color: maroon;
    text-shadow: 0px 0px 25px white;
    margin: 10px;
    font-weight: bold;
    text-decoration: none;
}
.SaxListing {
    background-image: url("saxophonecloseup.jpg");
    background-size: cover;
}
.SaxAccListing {
    background-image: url("saxophonecloseup.jpg");
    background-size: cover;
}
.DoubleReeds {
    background-image: url("doublereedcloseup.jpg");
    background-size: cover;
}

.DblreedPageContent {
    display: flex;
    flex-wrap: wrap;
    width: 1260px;
    height: auto;
    justify-content: space-between;
    margin-left: 10px;
}

.DblreedInventory, .DblreedAccessories {
    width: 600px;
    height: auto;
    box-shadow: 0px 0px 20px maroon;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.DblreedListing, .DblreedAccListing {
    width: 175px;
    height: 175px;
    text-align: center;
    font-family: "Tsukushi B Round Gothic";
    color: white;
    text-shadow: 0px 0px 25px black;
    margin: 10px;
    font-weight: bold;
    text-decoration: none;
}
.DblreedListing {
    background-image: url("doublereedcloseup.jpg");
    background-size: cover;
}
.DblreedAccListing {
    background-image: url("doublereedcloseup.jpg");
    background-size: cover;
}

/*Inventory-Brass page content*/

.BrassGroups {
    display: flex;
    height: auto;
    width: 1270px;
    justify-content: space-between;
    margin: 10px;
}
.TrumpetsCornets, .Trombones, .FrenchHorns, .TubasEuphoniumsBaritones {
    height: 300px;
    width: 290px;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    font-family: "Tsukushi B Round Gothic";
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 25px black;
    padding-top: 10px;
}
.TrumpetsCornets {
    background-image: url("trumpetcloseup.jpg");
    background-size: cover;
}
.TrumpetPageContent {
    display: flex;
    flex-wrap: wrap;
    width: 1260px;
    height: auto;
    justify-content: space-between;
    margin-left: 10px;
}
.TrumpetInventory, .TrumpetAccessories {
    width: 600px;
    height: auto;
    box-shadow: 0px 0px 20px maroon;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.TrumpetListing, .TrumpetAccListing {
    width: 175px;
    height: 175px;
    text-align: center;
    font-family: "Tsukushi B Round Gothic";
    color: white;
    text-shadow: 0px 0px 25px black;
    margin: 10px;
    font-weight: bold;
    text-decoration: none;
}
.TrumpetListing {
    background-image: url("trumpetcloseup.jpg");
    background-size: cover;
}
.TrumpetAccListing {
    background-image: url("trumpetcloseup.jpg");
    background-size: cover;
}
.Trombones {
    background-image: url("trombonecloseup.jpg");
    background-size: cover;
}
.TrombonePageContent {
    display: flex;
    flex-wrap: wrap;
    width: 1260px;
    height: auto;
    justify-content: space-between;
    margin-left: 10px;
}
.TromboneInventory, .TromboneAccessories {
    width: 600px;
    height: auto;
    box-shadow: 0px 0px 20px maroon;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.TromboneListing, .TromboneAccListing {
    width: 175px;
    height: 175px;
    text-align: center;
    font-family: "Tsukushi B Round Gothic";
    color: white;
    text-shadow: 0px 0px 25px black;
    margin: 10px;
    font-weight: bold;
    text-decoration: none;
}
.TromboneListing {
    background-image: url("trombonecloseup.jpg");
    background-size: cover;
}
.TromboneAccListing {
    background-image: url("trombonecloseup.jpg");
    background-size: cover;
}

.FrenchHorns {
    background-image: url("BrassLinkPhoto.jpg");
    background-size: cover;
}
.HornPageContent {
    display: flex;
    flex-wrap: wrap;
    width: 1260px;
    height: auto;
    justify-content: space-between;
    margin-left: 10px;
}
.HornInventory, .HornAccessories {
    width: 600px;
    height: auto;
    box-shadow: 0px 0px 20px maroon;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.HornListing, .HornAccListing {
    width: 175px;
    height: 175px;
    text-align: center;
    font-family: "Tsukushi B Round Gothic";
    color: white;
    text-shadow: 0px 0px 25px black;
    margin: 10px;
    font-weight: bold;
    text-decoration: none;
}
.HornListing {
    background-image: url("BrassLinkPhoto.jpg");
    background-size: cover;
}
.HornAccListing {
    background-image: url("BrassLinkPhoto.jpg");
    background-size: cover;
}
.TubasEuphoniumsBaritones {
    background-image: url("tubaupclose.jpg");
    background-size: cover;
}
.TubaPageContent {
    display: flex;
    flex-wrap: wrap;
    width: 1260px;
    height: auto;
    justify-content: space-between;
    margin-left: 10px;
}
.TubaInventory, .TubaAccessories {
    width: 600px;
    height: auto;
    box-shadow: 0px 0px 20px maroon;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.TubaListing, .TubaAccListing {
    width: 175px;
    height: 175px;
    text-align: center;
    font-family: "Tsukushi B Round Gothic";
    color: white;
    text-shadow: 0px 0px 25px black;
    margin: 10px;
    font-weight: bold;
    text-decoration: none;
}
.TubaListing {
    background-image: url("tubaupclose.jpg");
    background-size: cover;
}
.TubaAccListing {
    background-image: url("tubaupclose.jpg");
    background-size: cover;
}

/*Inventory-Strings page content*/
.StringGroups {
    display: flex;
    height: auto;
    width: 1270px;
    justify-content: space-between;
    margin: 10px;
}
.Violins, .Violas, .Cellos, .Basses {
    height: 300px;
    width: 290px;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    font-family: "Tsukushi B Round Gothic";
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 25px black;
    padding-top: 10px;
}
.Violins {
    background-image: url("StringsLinkPhoto.jpg");
    background-size: cover;
}
.ViolinPageContent {
    display: flex;
    flex-wrap: wrap;
    width: 1260px;
    height: auto;
    justify-content: space-between;
    margin-left: 10px;
}
.ViolinInventory, .ViolinAccessories {
    width: 600px;
    height: auto;
    box-shadow: 0px 0px 20px maroon;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ViolinListing, .ViolinAccListing {
    width: 175px;
    height: 175px;
    text-align: center;
    font-family: "Tsukushi B Round Gothic";
    color: white;
    text-shadow: 0px 0px 25px black;
    margin: 10px;
    font-weight: bold;
    text-decoration: none;
}
.ViolinListing {
    background-image: url("StringsLinkPhoto.jpg");
    background-size: cover;
}
.ViolinAccListing {
    background-image: url("StringsLinkPhoto.jpg");
    background-size: cover;
}


.Violas {
    background-image: url("Violaupclose.jpg");
    background-size: cover;
}
.ViolaPageContent {
    display: flex;
    flex-wrap: wrap;
    width: 1260px;
    height: auto;
    justify-content: space-between;
    margin-left: 10px;
}
.ViolaInventory, .ViolaAccessories {
    width: 600px;
    height: auto;
    box-shadow: 0px 0px 20px maroon;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ViolaListing, .ViolaAccListing {
    width: 175px;
    height: 175px;
    text-align: center;
    font-family: "Tsukushi B Round Gothic";
    color: white;
    text-shadow: 0px 0px 25px black;
    margin: 10px;
    font-weight: bold;
    text-decoration: none;
}
.ViolaListing {
    background-image: url("Violaupclose.jpg");
    background-size: cover;
}
.ViolaAccListing {
    background-image: url("Violaupclose.jpg");
    background-size: cover;
}
.Cellos {
    background-image: url("Celloupclose.jpg");
    background-size: cover;
}
.CelloPageContent {
    display: flex;
    flex-wrap: wrap;
    width: 1260px;
    height: auto;
    justify-content: space-between;
    margin-left: 10px;
}
.CelloInventory, .CelloAccessories {
    width: 600px;
    height: auto;
    box-shadow: 0px 0px 20px maroon;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.CelloListing, .CelloAccListing {
    width: 175px;
    height: 175px;
    text-align: center;
    font-family: "Tsukushi B Round Gothic";
    color: white;
    text-shadow: 0px 0px 25px black;
    margin: 10px;
    font-weight: bold;
    text-decoration: none;
}
.CelloListing {
    background-image: url("Celloupclose.jpg");
    background-size: cover;
}
.CelloAccListing {
    background-image: url("Celloupclose.jpg");
    background-size: cover;
}
.Basses {
    background-image: url("Bassupclose.jpg");
    background-size: cover;
}
.BassPageContent {
    display: flex;
    flex-wrap: wrap;
    width: 1260px;
    height: auto;
    justify-content: space-between;
    margin-left: 10px;
}
.BassInventory, .BassAccessories {
    width: 600px;
    height: auto;
    box-shadow: 0px 0px 20px maroon;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.BassListing, .BassAccListing {
    width: 175px;
    height: 175px;
    text-align: center;
    font-family: "Tsukushi B Round Gothic";
    color: white;
    text-shadow: 0px 0px 25px black;
    margin: 10px;
    font-weight: bold;
    text-decoration: none;
}
.BassListing {
    background-image: url("Bassupclose.jpg");
    background-size: cover;
}
.BassAccListing {
    background-image: url("Bassupclose.jpg");
    background-size: cover;
}

/*Guitars page*/
.GuitarPageContent {
    display: flex;
    flex-wrap: wrap;
    width: 1260px;
    height: auto;
    justify-content: space-between;
    margin-left: 10px;
}
.GuitarInventory, .GuitarAccessories {
    width: 600px;
    height: auto;
    box-shadow: 0px 0px 20px maroon;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.GuitarListing, .GuitarAccListing {
    width: 175px;
    height: 175px;
    text-align: center;
    font-family: "Tsukushi B Round Gothic";
    color: white;
    text-shadow: 0px 0px 25px black;
    margin: 10px;
    font-weight: bold;
    text-decoration: none;
}
.GuitarListing {
    background-image: url("GuitarsLinkPhoto.jpg");
    background-size: cover;
}
.GuitarAccListing {
    background-image: url("GuitarsLinkPhoto.jpg");
    background-size: cover;
}

/*Rentals page content*/
.RentContent {
    display: flex;
    flex-wrap: wrap;
    max-width: 1270px;
    min-width: 1270px;
    justify-content: center;

}
.WoodwindsRentLink, .BrassRentLink, .StringsRentLink, .PercussionRentLink {
    width: 250px;
    height: 300px;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    font-family: "Tsukushi B Round Gothic";
    color: white;
    text-shadow: 0 0 10px black;
    font-weight: bold;
    background-size: cover;
}
.WoodwindsRentLink {
    background-image: url("Woodwindlinkphoto.jpg");
}
.BrassRentLink {
    background-image: url("BrassLinkPhoto.jpg");
}
.StringsRentLink {
    background-image: url("StringsLinkPhoto.jpg");
}
.PercussionRentLink {
    background-image: url("PercussionLinkPhoto.jpg");
}
.PaymentsLink {
    width: 500px;
    height: 50px;
    background-color: maroon;
    border-radius: 5px;
    text-align: center;
    padding-top: 25px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    font-family: "Tsukushi B Round Gothic";
    margin-top: 10px;
}
/*Percussion Browse page content*/
.PercussionPageContent {
    display: flex;
    flex-wrap: wrap;
    width: 1260px;
    height: auto;
    justify-content: space-between;
    margin-left: 10px;
}
.PercussionInventory, .PercussionAccessories {
    width: 600px;
    height: auto;
    box-shadow: 0px 0px 20px maroon;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.PercussionListing, .PercussionAccListing {
    width: 175px;
    height: 175px;
    text-align: center;
    font-family: "Tsukushi B Round Gothic";
    color: white;
    text-shadow: 0px 0px 25px black;
    margin: 10px;
    font-weight: bold;
    text-decoration: none;
}
.PercussionListing {
    background-image: url("PercussionLinkPhoto.jpg");
    background-size: cover;
}
.PercussionAccListing {
    background-image: url("PercussionLinkPhoto.jpg");
    background-size: cover;
}

/*Keyboards Browse page content*/

.KeysPageContent {
    display: flex;
    flex-wrap: wrap;
    width: 1260px;
    height: auto;
    justify-content: space-between;
    margin-left: 10px;
}
.KeysInventory, .KeysAccessories {
    width: 600px;
    height: auto;
    box-shadow: 0px 0px 20px maroon;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.KeysListing, .KeysAccListing {
    width: 175px;
    height: 175px;
    text-align: center;
    font-family: "Tsukushi B Round Gothic";
    color: white;
    text-shadow: 0px 0px 25px black;
    margin: 10px;
    font-weight: bold;
    text-decoration: none;
}
.KeysListing {
    background-image: url("KeyboardsLinkPhoto.jpg");
    background-size: cover;
}
.KeysAccListing {
    background-image: url("KeyboardsLinkPhoto.jpg");
    background-size: cover;
}
/*Locations page content*/
.LocationsContainer {
    width: 1270px;
    margin-left: 10px;
}
.OremLocation {
    width: 300px;
    height: 400px;
    margin-left: 500px;
    margin-top: 50px;
}
.OremGooglePhoto {
    width: 300px;
    height: 300px;
    background-image: url("BMMGooglePhoto.png");
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 0 10px maroon;

}
.OremInfo {
    margin-top: 10px;
    font-size: 18px;
    font-family: "Tsukushi B Round Gothic";
    text-align: center;
}
/*Current Promotions page content*/
.PromoContent {
    width: 1270px;
    text-align: center;
    font-family: "Tsukushi B Round Gothic";
    font-size: 50px;
    font-weight: bold;
    color: maroon;
    margin-top: 50px;
}
/*Lessons page content*/
.LessonListContainer {
    margin-left: 10px;
    width: 1270px;
}
.LessonListContainer .ListTitle {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Tsukushi B Round Gothic";
    color: maroon;
}
.LessonsList {
    margin-left: 525px;
    color: maroon;
    font-family: "Tsukushi B Round Gothic";
    font-weight: bold;

}
.LessonsList ul {
    color: black;
    font-weight: normal;
}